* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-main);
    font-weight: 400;
}

:root {
    --purple-100: hsl(254, 88%, 90%);
    --purple-500: hsl(256, 67%, 59%);
    --yellow-100: hsl(31, 66%, 93%);
    --yellow-500: hsl(39, 100%, 71%);

    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 7%);

    --font-main: "DM Sans", sans-serif;
}

body {
    background-color: #e7e7e7;
}

img {
    max-width: 50%;
    display: block;
}

h1 {
    font-size: clamp(2rem, 1vw + 2.5rem, 4.5rem);
    margin: 1rem 1.5rem;
    margin-top: 0;
    font-weight: 500;
}

h2 {
    letter-spacing: -0.046em;
    font-weight: 500;
    font-size: clamp(0.1rem, 1.3vw + 1.6rem, 3.5rem);
    text-align: left;
    line-height: 0.9em;
}

h3 {
    letter-spacing: -0.046em;
    font-weight: 500;
    font-size: clamp(0.1rem, 1vw + 1.3rem, 3.5rem);
    text-align: left;
    line-height: 0.9em;
}

p {
    font-size: clamp(0.8rem, 1vw + 2.5rem, 1.2rem);
    font-weight: 400;
}

em {
    font-style: italic;
}

.main {
    display: grid;
    grid-template-columns: minmax(200px, 341px);
    grid-template-rows: 256px 161px 214px 469px 370px 217px 235px 349px;
    grid-template-areas:
        "box-1"
        "box-2"
        "box-3"
        "box-4"
        "box-5"
        "box-6"
        "box-7"
        "box-8"
    ;
    gap: 1.5em;
    margin: 1em;

    align-content: center;
    justify-items: stretch;
    justify-content: center;
}

.container {
    background-color: var(--purple-100);
    padding: 1em;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-shrink: 1;
}

.box_1 {
    background-color: var(--purple-500);
    color: var(--white);
    line-height: 0.9;

    grid-area: box-1;
}

.box_1 span {
    color: var(--yellow-500);
}

.box_1 img {
    max-width: clamp(200px, 100%, 200px);
}

.box_1 p {
    margin-top: 0.5em;
}

.box_2 {
    background-color: var(--white);
    justify-content: space-between;
    align-items: start;

    grid-area: box-2;
}

.box_2 img {
    max-width: clamp(320px, 100%, 450px);
}

.box_3 {
    background-color: var(--yellow-500);
    justify-content: start;

    grid-area: box-3;
}

.box_3 img {
    max-width: clamp(100px, 100%, 220px);
    align-self: start;
    margin-top: 1em;
}

.box_4 {
    background-color: var(--purple-100);
    justify-content: center;

    grid-area: box-4;
}

.box_4 img {
    max-width: clamp(300px, 20vw, 400px);
    margin: 1em 0px;
}

.box_4 p {
    font-size: 1.18em;
    font-weight: 400;
    line-height: 1.2em;
}

.box_5 {
    background-color: var(--purple-500);
    color: var(--white);
    justify-content: space-around;

    grid-area: box-5;
}

.box_5 img {
    max-width: clamp(200px, 47%, 300px);
}

.box_5 h2 {
    width: 200px;
    text-align: center;
}

.box_6 {
    background-color: var(--white);
    align-items: start;
    justify-content: space-evenly;

    grid-area: box-6;
}

.box_6 h1 {
    margin: 0;
}

.box_6 p {
    text-align: left;
    margin-bottom: 1rem;
}

.box_6 img {
    max-width: clamp(180px, 50%, 300px);
}

.box_7 {
    background-color: var(--yellow-100);
    align-items: start;
    justify-content: space-evenly;

    grid-area: box-7;
}

.box_7 em {
    color: var(--purple-500);
}

.box_7 img {
    margin-top: 1em;
    max-width: clamp(190px, 60%, 300px);
}

.box_8 {
    background-color: var(--yellow-500);
    font-size: 1.3em;
    align-items: start;
    justify-content: space-between;

    grid-area: box-8;
}

.box_8 img {
    max-width: clamp(200px, 70%, 400px);
}

@media (min-width: 516px) {
    h2 {
        padding-right: 0.5rem;
    }

    .main {
        grid-template-columns: repeat(2, 230px);
        grid-template-rows: 246px 246px 170px 100px 100px 246px 246px;
        grid-template-areas:
            "box-1 box-1"
            "box-3 box-4"
            "box-7 box-4"
            "box-7 box-2"
            "box-8 box-2"
            "box-8 box-6"
            "box-5 box-5"
        ;
    }

    .box_4 {
        text-align: left;
    }

    .box_4 img {
        align-self: flex-start;
        max-width: 260px;
    }

    .box_5 {
        flex-direction: row;
    }

    .box_5 h2 {
        text-align: left;
    }

    .box_7 {
        align-items: center;
    }

    .box_7 h2 {
        padding: 0px 0px 0px 1rem;
    }
}

@media (min-width: 768px) {
    .main {
        grid-template-columns: repeat(3, 230px);
        grid-template-rows: 324px 50px 166px 246px;
        grid-template-areas:
            "box-7 box-1 box-1"
            "box-7 box-2 box-2"
            "box-8 box-2 box-2"
            "box-8 box-6 box-3"
            "box-4 box-4 box-5"
        ;
    }

    .box_2 {
        justify-content: space-evenly;
    }

    .box_4 img {
        align-self: center;
    }

    .box_5 {
        flex-direction: column;
    }

    .box_5 h2 {
        text-align: center;
    }
}

@media (min-width: 1200px) {
    .main {
        grid-template-columns: repeat(4, 255px);
        grid-template-rows: 324px 50px 166px 246px;
        grid-template-areas:
            "box-7 box-1 box-1 box-4"
            "box-7 box-2 box-3 box-4"
            "box-8 box-2 box-3 box-4"
            "box-8 box-6 box-5 box-5"
        ;
    }

    .box_4 {
        padding-left: 2em;
        text-align: left;
    }

    .box_4 img {
        align-self: flex-start;
        min-width: 350px;
    }

    .box_5 {
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 2em;
    }

    .box_5 h2 {
        text-align: left;
        padding: 0px;
        width: 250px;
    }

    .box_8 img {
        width: 220px;
        max-width: none;
    }
}